:root {
    --white-bg-color: #F8F9FA;
    --white-hover-color: #E9ECEF;
    --platinum-hover-color: #DEE2E6;
    --gray-hover-color: #CED4DA;
    --gray-hover-color-alternative: #ADB5BD;
    /*Reverse colors*/
    --black-bg-color: #212529;
    --black-hover-color: #343A40;
    --black-hover-alternative-color: #495057;
    --darker-gray-color: #6C757D;
    /*light colors*/
    --light-white-bg-color: #f8f9fae9;
    --light-gray-hover-color: #ced4da40;
    /*top bar*/
    --placeholder-topbar-height: 5rem ;
}

body {
    background-color: var(--white-bg-color) !important;
    font-family: 'Titillium Web', sans-serif;
    color: var(--black-bg-color);
}

.header {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    background-color: var(--light-gray-hover-color);
}

.header img {
    --same-height-and-width: 5rem;
    max-height: var(--same-height-and-width);
    min-width: var(--same-height-and-width);
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
    margin: 0 2rem;
}

.header h1 {
    font-weight: 900;
    margin: 0;
    text-align: center;
}

.header-description {
    margin: 0 2rem 0 auto;
}

.header-description ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
}

.header-description ul li {
    padding: 0 1rem;
}

.header-description ul li a {
    font-size: large;
    text-decoration: none;
    color: inherit;
}

.tile {
    margin: 1rem auto;
    padding: 1rem;
    display: flex;
    border-radius: 0.5rem;
    align-items: center;
    justify-content: center;
    background-color: var(--light-gray-hover-color);
}

.tile img {
    --same-height-and-width: 10rem;
    height: var(--same-height-and-width);
    width: var(--same-height-and-width);
    border-radius: 100%;
    object-fit: cover;
    object-position: center top;
}

.description {
    display: grid;
    grid-auto-rows: min-content;
    padding: 0 1rem;
    align-items: center;
}

.description h1 {
    font-weight: 900;
    font-size: 3rem;
    margin: 0;
} 

.description ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0;
    padding: 0.5rem 0;
}

.description ul li {
    padding-right: 0.5rem;
}

.description ul li a {
    text-decoration: none;
    color: inherit;
}

.post {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.post h1 {
    font-weight: 700;
    margin: 0 0 1.5rem 0;
}