:root {
    --white-bg-color:#F8F9FA;
    --white-hover-color:#E9ECEF;
    --platinum-hover-color:#DEE2E6;
    --gray-hover-color:#CED4DA;
    --gray-hover-color-alternative:#ADB5BD;
    /*Reverse colors*/
    --black-bg-color:#212529;
    --black-hover-color:#343A40;
    --black-hover-alternative-color:#495057;
    --darker-gray-color:#6C757D;
}

body * {
    font-family: 'Titillium Web', sans-serif;
    color: var(--black-bg-color);
    background-color: var(--white-bg-color);
}

.main {
    align-content: center;
    max-height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 0 1rem !important;
}

.main h1, .main div {
    padding: 1rem;
}

.header {
    margin: 0;
    font-size: 3rem;
    font-weight: 900;
}

.description {
    border-radius: 0.2rem;
    font-size: 0.9rem;
    transition: 0.5s all ease-in-out;
}

.description:hover {
    background-color: var(--white-hover-color);
}

.footer ul { 
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--bs-body-color);
}

.footer ul li a:hover {
    padding-left: 10px;
}

.preview {
    display: grid;
    container-name: preview;
    container-type: size;
}

@keyframes image-nomal-to-greyscale {
    from { filter: grayscale(0%); }
    to { filter: grayscale(70%);}
}

.preview img {
    margin: 0 auto;
    align-self: center;
    max-height: 100vh;
    object-fit: cover;
    width: 100%;
    padding: 1rem 0;
    animation-name: image-nomal-to-greyscale ;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    overflow: hidden;
    transition: 0.5s all ease-in-out;
}

@keyframes image-greyscale-to-normal {
    from { filter: grayscale(50%); }
    to { filter: grayscale(0%); }
}

.preview img:hover {
    animation-name: image-greyscale-to-normal;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@container preview (height < 580px) or (width < 580px){
    .preview img {
        height: 100%;
        padding:0;
    }
}