:root {
    --white-bg-color:#F8F9FA;
    --white-hover-color:#E9ECEF;
    --platinum-hover-color:#DEE2E6;
    --gray-hover-color:#CED4DA;
    --gray-hover-color-alternative:#ADB5BD;
    /*Reverse colors*/
    --black-bg-color:#212529;
    --black-hover-color:#343A40;
    --black-hover-alternative-color:#495057;
    --darker-gray-color:#6C757D;
    /*light colors*/
    --light-white-bg-color: #f8f9fae9;
    --light-gray-hover-color: #ced4da40;
}

html {
    background-color: var(--white-bg-color);
}

body * {
    font-family: 'Titillium Web', sans-serif;
    color: var(--black-bg-color);
    
}

.main {
    align-content: center;
    max-height: 100vh;
    display: grid;
    grid-template-rows: min-content min-content min-content;
    padding: 0 1rem;
}

.main picture {
    text-align: center;
}

.main h1, .main div {
    padding: 1rem;
}

.header {
    margin: 0;
    font-size: 3rem;
    font-weight: 600;
}

.header h1 {
    padding: 0;
    font-size: 5rem;
    font-weight: 900;
}

.avatar {
    object-fit: cover;
    margin: 0 auto;
    width: 10rem;
    height: 10rem;
    object-position: top center;
    border-radius: 100%;
}

.description {
    border-radius: 0.2rem;
    font-size: 0.9rem;
    transition: 0.5s all ease-in-out;
}

.description:hover {
    background-color: var(--white-hover-color);
}

.footer ul { 
    width: 100%;
    display: inline-flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer ul li {
    margin: 0 auto;
    padding: 0 1rem;
}

.footer ul li a {
    font-size: 0.9em;
    text-decoration: none;
    color: var(--bs-body-color);
}


.tiles {
    padding: 0 1rem;
    display: grid;
    gap: 0.5rem;
    align-content: center;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(30vh, auto);
    container-name: tiles;
    container-type: size;
}

.tiles a {
    display: grid;
    height: 100%;
    border-radius: 0.5rem;
    padding:1rem;
    background-color: var(--light-gray-hover-color);
    text-decoration: none;
    color:inherit;
}

.tiles a h3 {
    font-weight: 700;
}

.tiles a span {
    min-height: 95px;
}

@container tiles (height < 580px) or (width < 580px){
}